<html>
    <head>
        <title>DjangoSample - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"#}
{#          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}

        {% include 'main_app/css.html' %}
        {% include 'main_app/js.html' %}
    </head>
    <body>
        <div class="container">
            {% block header %}{% endblock %}
            {% block content %}
            {% endblock %}
        </div>
        {% block custom_js %}{% endblock %}
        {% block custom_css %}{% endblock %}


{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/axjax/libs/popper.js/1.14.3/umd/popper.min.js"#}
{#            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"#}
{#            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"#}
{#            crossorigin="anonymous"></script>#}
</body>
</html>
