<ul>
    <li {% if page == 'expenses' %}class="active"{% endif %}>
        <a href="{% url 'expenses:list' %}">Expenses</a>
    </li>

    <li {% if page == 'category' %}class="active"{% endif %}>
        <a href="{% url 'expenses:category_list' %}">Category</a>
    </li>
</ul>