<style>
    table {
        border: solid black 1px;
    }
    table th {
        border: solid black 1px;
    }
    table td {
        border: solid black 1px
    }
</style>

{% if category %}
<table>
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ category.name }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<h1>No category found!</h1>
{% endif %}

<a href="{% url 'expenses:category_list' %}">Categories</a>
<a href="{% url 'main_app:home' %}">Home</a>