{% extends 'main_app/layout.html' %}
{% block title %}Category list{% endblock %}

{% block header %}<h1>Category list</h1>{% endblock %}
{% block content %}
{% include 'main_app/nav.html' with page='category' %}

<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
        {% for category in category_list %}
        <tr>
            <td>{{ category.name }}</td>
            <td>
                <ul>
                    <li><a href="{% url 'expenses:category_detail' pk=category.pk %}">Detail</a></li>
                    <li><a href="{% url 'expenses:category_update' pk=category.pk %}">Update</a></li>
                    <li><a href="{% url 'expenses:category_delete' pk=category.pk %}">Delete</a></li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{#<p align="left"><a href="{% url 'main_app:home' %}">Home</a>#}
<a href="{% url 'expenses:category_create' %}">Add category</a>
{% endblock %}
