{% extends 'main_app/layout.html' %}
{% block title %}Category update{% endblock %}
{% block header %}<h1>Category update</h1>{% endblock %}
{% block content %}

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}
