<style>
    table {
        border: solid black 1px;
    }
    table th {
        border: solid black 1px;
    }
    table td {
        border: solid black 1px
    }
</style>

{% if expense %}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>When?</th>
            <th>Amount (BYN)</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.timestamp }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.category|default:"Not defined" }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<h1>No expenses found!</h1>
{% endif %}

