{% extends 'main_app/layout.html' %}
{% block title %}Expenses List{% endblock %}
{% block header %}<h1>Expenses List</h1>{% endblock %}
{% block content %}

    {% include "main_app/nav.html" with page='expenses' %}
    <table>
        <thead>
        <th>Name</th>
        <th>Timestamp</th>
        <th>Amount</th>
        <th>Category</th>
        <th></th>
        </thead>
        <tbody>
        {% for expense in expense_list %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.timestamp }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category|default_if_none:'-----' }}</td>
                <td>
                    <ul>
                        <li><a href="{% url 'expenses:detail' pk=expense.pk %}">Detail</a></li>
                        <li><a href="{% url 'expenses:update' pk=expense.pk %}">Update</a></li>
                        <li><a href="{% url 'expenses:delete' pk=expense.pk %}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p align="left"><a href="{% url 'expenses:create' %}">Add expense</a></p>
{% endblock %}
