<from method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</from>
<p align="left"><a href="{% url 'expenses:category_create' %}">Add category</a></p>